Scweet==1.8
selenium
pandas
numpy
scikit-learn
yfinance
apscheduler
pyvirtualdisplay
python-dotenv
joblib
torch --index-url https://download.pytorch.org/whl/cpu  # Use CPU version to save space
transformers
numpy